@model IEnumerable<Domain.Entities.Units>

@{
    ViewData["Title"] = "Index";
}

<h1>Units</h1>

<p>
    <a class="btn btn-primary" asp-controller="Units" asp-action="Create">Create</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Status)
                </td>

                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Units" asp-action="Update" asp-route-Id="@user.Id">Update</a>
                    @if (@user.Status == false)
                     {
                        <a class="btn btn-sm btn-primary" asp-controller="Units" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                     }
                </td>
            </tr>

        }
    </tbody>
</table>
