@model IEnumerable<Domain.Entities.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-controller="Inventory" asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Номенклатура
            </th>
            <th>
                Факт. число
            </th>
            <th>
                Реал. число
            </th>
            <th>
                Единицы измерения
            </th>
            <th>
                Склад
            </th>
            <th>
               Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityFact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityAcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Units.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouses.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Inventory" asp-action="Update" asp-route-Id="@item.Id">Update</a>
            </td>
        </tr>
}
    </tbody>
</table>
